.article {
  padding: 8px;

  & > h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 40px -8px 20px;
    background-color: #0ca678;
    padding: 10px 20px;
  }

  & > h3 {
    font-size: 24px;
    font-weight: bold;
    color: #12b886;
    margin: 40px 0 16px;
    border-bottom: 1px solid #38D9A9;
  }

  & > h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}
